/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2014, 6:21:01 PM
    Author     : patrick
*/

#btn_container{
    margin-top: 25px;
}

.sentences_wrapper{
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    width: 90%;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.sentence-begin {
    float: left;
}

.words {
    float: left;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    min-width: 25px;
    padding: 10px;
    min-height: 15px;
    margin: 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.words {
    float: left;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    min-width: 25px;
    padding: 10px;
    min-height: 15px;
    margin: 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.answer {
    float: left;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 25px;
    padding: 10px;
    min-height: 15px;
    margin: 5px 5px 5px 0px;
}

.sentence-end {
    float: left;
}

.sentence-begin, .sentence-end {

    padding: 10px;
    min-height: 30px;
}

.sentence-begin {
    margin: 5px 0px 5px 5px;
}

.sentence-end {
    margin: 5px 5px 5px 0px;
}
.possible-answers {
    min-height: 60px;
    margin: 5px;
}
.number{
    float: left;
    width: 30px;
    margin-right: 10px; 
}
.answer-container {
    min-height: 50px;
    margin: 5px;
    padding: 5px;
    border-color: #4E6CA3;
    border-style: solid;
    border-width: 1px;
    /*background-color: #99B3FF;*/
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #F5F5F5),
        color-stop(0.52, #F4F7F7)
        );
    background-image: -o-linear-gradient(bottom, #F5F5F5 0%, #F4F7F7 52%);
    background-image: -moz-linear-gradient(bottom, #F5F5F5 0%, #F4F7F7 52%);
    background-image: -webkit-linear-gradient(bottom, #F5F5F5 0%, #F4F7F7 52%);
    background-image: -ms-linear-gradient(bottom, #F5F5F5 0%, #F4F7F7 52%);
    background-image: linear-gradient(to bottom, #F5F5F5 0%, #F4F7F7 52%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


}

.correct{
    float: left;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #4EE854;
    min-width: 15px;
    padding: 10px;
    min-height: 15px;
    margin: 5px;
    text-align: center;
}

.wrong {
    background-color: red;
}

#ddfill-stats {
    width: 100px;
    height: 50px;
    padding: 10px;
    text-align: center;
    float: right;
}